board:=ramips
subtarget:=mt7621
device:=netgear_ex6150
device-name:=netgear-ex6150
base:=https://github.com/immortalwrt/immortalwrt.git@master
app-path:=package/supply-packages
# git-app:=https://github.com/jerrykuku/luci-theme-argon.git
# git-app:=https://github.com/jerrykuku/luci-app-argon-config.git
git-app:=https://github.com/kenzok8/openwrt-packages.git
# git-app:=https://github.com/Ausaci/luci-app-nat6-helper.git
# git-app:=https://github.com/xiaorouji/openwrt-passwall.git@packages@passwall-packages
# svn-app:=https://github.com/xiaorouji/openwrt-passwall/branches/luci/luci-app-passwall
# svn-app:=https://github.com/vernesong/OpenClash/trunk/luci-app-openclash
